 .contenedorGeneral {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}